Example find and replace script
Note: replace the /...replace.../ part

# replace the "replace-with..." strings with the actual data
# run this script from it's directory 

# edit tp replace
find etc -type f -print | xargs sed -i "s/PUB.IP.IP.IP/198.52.232.106/g"
sed -i "s/GET.IP.IP.IP/198.52.232.1/g" etc/interfaces
sed -i "s/myusername/johnsm/g" setup.sh
sed -i "s/imnotsecretdjangomysqlpassword/abcdqwerty/g" site_repo/settings.py scripts/db.sql

# use yourdomain.com (or yourdomain.net, etc) without the www 
find etc site_repo -type f -print | xargs sed -i "s/example.com/foobar.com/g"

# Entire site Apache password
sed -i "s/apacheusername/webmaster/g" scripts/site_auth.py
sed -i "s/apachepasswd/abcdjango/g" scripts/site_auth.py


# Optional, uncomment to replace
# find etc -type f -print | xargs sed -i "s/my-django-server/django-vps/g"
# sed -i "s/mysite/cms_site/g" setup.sh scripts/django_projects.pth scripts/site-reload.sh scripts/tail-logs.sh etc/apache2.conf.django etc/apache2.conf.django.auth etc/django-site-nginx
 

echo "Done. Don't forget to copy your SSH public key, and replace django SECRET_KEY. See README"